<h1>Bonjour {{name}},</h1>
<p>Votre feuille de temps du <strong> {{ date }}</strong> a été rejetée.</p>
<p>Motif: <br/> {{ comment }}</p>
<p>Vous pouvez la consulter dans votre espace personnel.</p>
<p>Merci de votre collaboration.</p>
<p><br/>RH-APP</p>